.DS_Store
Thumbs.db

chrome-profiler-events.json
speed-measure-plugin.json

npm-debug.log
testem.log
yarn-error.log

/connect.lock
/libpeerconnection.log

/bazel-out
/dist
/out-tsc
/tmp

/.sass-cache
/coverage
/node_modules
/typings

# IDE - VS Code
.history/*
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

.firebaserc
/.firebase
