<div fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" style="width: 384px;">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="min-height: 96px; padding: 24px; width: 100%;"
    ></div>

    <div
      fxLayout="column"
      fxLayoutAlign="end center"
      style="min-height: 96px; padding: 24px; width: 100%;"
    >
      <div
        class="mat-display-1"
        style="font-weight: bold; letter-spacing: -1px; margin-bottom: 0;"
      >
        Store
      </div>
      <div class="mat-caption" style="color: #9e9e9e; margin-top: -3px;">
        USPTO Previous Search Data
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      style="min-height: 96px; padding: 24px; width: 100%;"
    ></div>
  </div>
</div>
